<%= form_with(model: [@tenant, reservation], local: true) do |form| %>
    <% if reservation.errors.any? %>
        <div id="error_listing">
            <h2><%= pluralize(@reservation.errors.count, "error") %> prevented this reservation from being saved:</h2>
            
            <ul>
            <% @reservation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="field">
        <%= form.label :rooms, 'Hotel Room' %> <br>
        <%= form.collection_select :id, Room.all, :id, :room_name %>
    </div>
    <div class="field">
        <%= form.hidden_field :tenant_id, :value => @tenant.id %> <br>
    </div>
    <br>
    <div class="field">
        <%= form.label :party_size, 'Party Size' %> <br>
        <%= form.number_field :party_size %>
    </div>
    <br>
    <div class="field">
        <%= form.label :start_date, 'Starting Date' %> <br>
        <%= form.date_field :start_date %>
    </div>
    <br>
    <div class="field">
        <%= form.label :end_date, 'Ending Date' %> <br>
        <%= form.date_field :end_date %>
    </div>
    <br>
    <div class="actions">
        <%= form.submit %>
    </div>
    <br>
<% end %>