<%= form_with(model: [@hotel, room], local: true) do |form| %>
    <% if room.errors.any? %>
        <div id="error_listing">
            <h2><%= pluralize(room.errors.count, "error") %> prevented this room from being saved:</h2>
            
            <ul>
            <% room.errors.full_messages.each do |error_message| %>
                <li><%= error_message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    
    <div class="field">
        <%= form.label :room_number %> <br>
        <%= form.number_field :room_number %>
    </div>
    <div class="field">
        <%= form.label :smoking %> <br>
        <%= form.select :smoking, ['Yes', 'No'] %>
    </div>
    <br>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
<br>