<%= form_with(model: [@hotel, room], local: true) do |form| %>    

    <div class="field">
        <%= form.label :room_number %> <br>
        <%= form.number_field :room_number %>
    </div>
    <div class="field">
        <%= form.label :smoking %> <br>
        <%= form.select :smoking, ['Yes', 'No'] %>
    </div>
    <br>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>
<br>