<h1>List of Rooms at <%= @hotel.name %></h1>

<% rooms = @hotel.rooms.sort_by &:room_number %>

<table>
  <tbody>
    <% rooms.each do |room| %>
        <td><%= room.room_number %></td>
        <td><%= link_to 'Show', hotel_room_path(room.hotel_id, room) %></td> 
        <td><%= link_to 'Edit', edit_hotel_room_path(room.hotel_id, room) %></td> 
        <td><%= link_to 'Destroy', hotel_room_path(room.hotel_id, room), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Back to Hotel", hotel_path(@hotel) %>
