<h1>Room Number: <%= @room.room_number %></h1>

<p>Smoking: <%= @room.smoking %></p>
<br>
<p>Current Reservations:</p>

<% @room.reservations.each do |reservation| %>

Number of Occupants: <%= reservation.party_size %>
<br>
Start Date: <%= reservation.start_date %>
<br>
End Date: <%= reservation.end_date %>
<br>

<% end %>

<%= link_to 'Back', hotel_rooms_path(@room.hotel_id, @room) %>
<br>
<%= link_to 'Make a Reservation', new_tenant_path %>
