<%= form_with(model: hotel, local:true) do |form| %>
    <% if hotel.errors.any? %>
        <div id="error_listing">
            <h2><%= pluralize(hotel.errors.count, "error") %>prevented this hotel from being saved:</h2>
            
            <ul>
                <% hotel.errors.full_messages.each do |error_message| %>
                    <li><%= error_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <br>

    <div class="field">
        <%= form.label :wifi %>
        <%= form.text_field :wifi %>
    </div>

    <br>

    <div class="field">
        <%= form.label :breakfast %>
        <%= form.text_field :breakfast %>
    </div>

    <br>

    <div class="field">
        <%= form.label :accessibility %>
        <%= form.text_field :accessibility %>
    </div>

    <br>

    <div class="actions">
        <%= form.submit %>
    </div>

    <br>
<% end %>