<h1><%= @hotel.name %></h1>

<p>Number of Total Rooms: <%= @hotel.size%></p>
<br>
<p>Wifi: <%= @hotel.wifi%></p>
<br>
<p>Breakfast: <%=@hotel.breakfast%></p>
<br>
<p>Accessibility Options: <%=@hotel.accessibility%></p>
