<p>
    <strong>Hotel:</strong>
    <%= @hotel.name %>
</p>

<p>
    <strong>Number of Rooms:</strong>
    <%= @hotel.rooms.count %>
</p>

<p>
    <strong>Wifi Availability:</strong>
    <%= @hotel.wifi %>
</p>

<p>
    <strong>Hotel Breakfast Offers:</strong>
    <%= @hotel.breakfast %>
</p>

<p>
    <strong>Hotel Accesibility Options:</strong>
    <%= @hotel.accessibility %>
</p>


<br>

<h2>Add a Room:</h2>
<%= render 'rooms/form', room: @hotel.rooms.build %>


<%= link_to 'Rooms', hotel_rooms_path(@hotel) %> | <%= link_to 'Back', hotels_path %>