<!DOCTYPE html>
<html>
  <head>
    <title>HotelCalifornia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <% if user_signed_in? %>
      <%= link_to 'My Hotels', hotels_path %> | <%= link_to 'My Tenants', tenants_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
      <% end %>
    <%= yield %>
  </body>
</html>
